<footer>
	<div class="d-flex justify-content-center text-center footer row pt-3 mt-5">
		<div class="footer1 col-xl-3 col-lg-4 col-md-5 col-6 my-3">PHP | Symfony<br><br>HTML5 | CSS3 | BOOTSTRAP<br><br>JavaScript</div>
		<div class="footer1 col-xl-3 col-lg-4 col-md-5 col-6 my-3 border-start border-secondary text-center"><img class="w-75"src="{{ asset('imgs/logo1.png') }}"></div>
		<div class="footerEnd">Daniel Ibañez Cerro - TFG 2º DAW - 2021/2022 - IES La Vereda</div>
	</div>

</footer>
